<%- include('partials/header'); -%>

<header>
  <div class="reds">
    <h3>By The Reds For The Reds</h3>
    <a href="/red-cards" class="btn">View Player Cards</a>
  </div>
</header>


<%- include('partials/footer'); -%>