<%- include('partials/header'); -%>

  <section class="container">

    <div class="card">
      <div class="card-image degea">
      </div>
    </div>

    <div class="card">
      <div class="card-image bruno">
      </div>
    </div>

    <div class="card">
      <div class="card-image fredo">
      </div>
    </div>

    <div class="card">
      <div class="card-image ronaldo">
      </div>
    </div>

    <div class="card">
      <div class="card-image dalot">
      </div>
    </div>

    <div class="card">
      <div class="card-image mason">
      </div>
    </div>

    <div class="card">
      <div class="card-image rashford">
      </div>
    </div>

    <div class="card">
      <div class="card-image shaw">
      </div>
    </div>

    <div class="card">
      <div class="card-image varane">
      </div>
    </div>

    <div class="card">
      <div class="card-image viktor">
      </div>
    </div>
    </div>

    <div class="card">
      <div class="card-image tominay">
      </div>
    </div>
  </section>

  <%- include('partials/footer'); -%>