/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Romanesco&display=swap");

body {
  margin: 20px 40px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  background-image: linear-gradient(rgba(3, 2, 2, 0.63), rgba(3, 0, 0, 0.897)),
    url(staduim.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1,
h2,
h3,
h4,
ul,
li,
a,
p,
input,
label,
button,
div,
footer {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  color: #444;
}
.home-h3,
.home-h1 {
  color: #bfcadb;
  font-family: "Romanesco", cursive;
}
.header-home-h3 {
  font-size: 60px;
  font-family: "Romanesco", cursive;
  color: #bfcadb;
}
.signup-h2 {
  font-family: "Romanesco", cursive;
  color: #bfcadb;
}
.signup-btn {
  background: #f53f36;
  font-family: "Romanesco", cursive;
  color: #bfcadb;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 120px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  margin-left: 20px;
}
nav li a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}
button .login {
  background: #f53f36;
}
.btn {
  border-radius: 36px;
  background: #f53f36;
}
form h2 {
  font-size: 2.4em;
  font-weight: 900;
  margin-bottom: 40px;
}
form {
  width: 360px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: transparent;
}
input {
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1em;
  width: 100%;
}
label {
  display: block;
  margin: 20px 0 10px;
}
button {
  margin-top: 30px;
  border-radius: 36px;
  background: #fee996;
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}
.error {
  color: #ff0099;
  margin: 10px 2px;
  font-size: 0.8em;
  font-weight: bold;
}
header {
  display: flex;
  align-items: center;
}
header img {
  width: 250px;
  margin-right: 40px;
}
header h2 {
  font-size: 3em;
  margin-bottom: 10px;
}
header h3 {
  font-size: 1.6em;
  margin-bottom: 10px;
  margin-left: 2px;
  color: #999;
}
header .btn {
  margin-top: 20px;
  padding: 12px 18px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  font-size: 0.8em;
}
footer {
  text-align: center;
  margin-top: 120px;
  color: #aaa;
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
  justify-content: center;
  flex-wrap: wrap;
}

.container {
  display: flex;
}
.card {
  background-color: white;
  width: 270px;
  height: 400px;
  margin: 9px;
}

.card-image {
  background-color: #f53f36;
  height: 300px;
  margin-bottom: 150px;
  background-size: cover;
}

.degea {
  background-image: url("degea.png");
}

.bruno {
  background-image: url("bruno.png");
}

.fredo {
  background-image: url("fredo.png");
}

.ronaldo {
  background-image: url("ronaldo.png");
}

.rashford {
  background-image: url("rashford.png");
}

.mason {
  background-image: url("mason.png");
}

.viktor {
  background-image: url("viktor.png");
}

.varane {
  background-image: url("varane.png");
}

.shaw {
  background-image: url("shaw.png");
}

.dalot {
  background-image: url("dalot.png");
}

.tominay {
  background-image: url("tominay.png");
}

